<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            font-family: Helvetica;
        }

        body {
            width: 50%;
            margin: auto;
        }

        input[type=text]:focus {
            border: 3px solid #555;
            padding: 10px;
        }

        .style {
            background-color: gray;
            border: 1px solid black;
            border-radius: 5px;

            padding: 2px;
            margin: 5px;
        }

        .center {
            text-align: center;
        }

        #correct {
            background-color: lightgreen;
            padding: 2px;
        }

        #wrong {
            background-color: lightcoral;
            padding: 2px;
        }
        
        #waiting {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div id="header" class="style center">
        <h1>Project #2 (FISA Project)</h1>
        <h5>Alex Shi & Jakub Bester</h5>
    </div>
    <div id="form" class="style">
        <form method="post">
            How was the information acquired?<select name="formAcqu" id="formAcqu"> <!--this maps to formAcqu(message,)-->
                <option value="electronic">Electronic device</option>
                <option value="mechanical">Mechanical device</option>
                <option value="otherSurv">Other Surveillance Device</option>
                <option value="none">None of the above</option>
            </select>
            <br/><br/>
            What was the format of the communication?<select name="form" id="form"> <!--this maps to form(message,)-->
                <option value="radio">Radio</option>
                <option value="wire">Wire</option>
                <option value="none">None of the above</option>
            </select>
            <br/><br/>
            What is the sender's nationality?<select name="nationalitySender" id="nationalitySender"> <!--this maps to nationality(sender,)-->
                <option value="usa">USA</option>
                <option value="none">Foreign</option>
            </select>
            <br/><br/>
            What is the sender's location?<select name="locationSender" id="locationSender"> <!--this maps to location(sender,)-->
                <option value="usa">USA</option>
                <option value="none">Foreign</option>
            </select>
            <br/><br/>
            What is the receiver's nationality?<select name="nationalityReceiver" id="nationalityReceiver"> <!--this maps to nationality(receiver,)-->
                <option value="usa">USA</option>
                <option value="none">Foreign</option>
            </select>
            <br/><br/>
            What is the receiver's location?<select name="locationReceiver" id="locationReceiver"> <!--this maps to location(receiver,)-->
                <option value="usa">USA</option>
                <option value="none">Foreign</option>
            </select>
            <br/><br/>
            Was there a reasonable expectation of privacy?<select name="privacy" id="privacy"> <!--this maps to privacy(targetPerson,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Would a warrant be required for law enforcement purposes?<select name="needWarrant" id="needWarrant"> <!--this maps to needWarrant(targetPerson,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Is the person being targeting a USA national?<select name="targetNationality" id="targetNationality"> <!--this maps to nationality(targetPerson,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Did the target consent to being monitored?<select name="consent" id="consent"> <!--this maps to consent(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Section 2511
            <br/><br/>
            Did the target authorize interception of communication?<select name="authorize" id="authorize"> <!--this maps to authorize(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Is the interceptor lawfully engaged in an investigation?<select name="investigation" id="investigation"> <!--this maps to investigation(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Are there reasonable grounds to believe that the contents of the communication will be relevant to the investigation?<select name="relevant" id="relevant"> <!--this maps to relevant(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Was the acquired information only the authorized information?<select name="onlyRelevant" id="onlyRelevant"> <!--this maps to onlyRelevant(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Non section2511
            <br/><br/>
            Was the acquiring intentional?<select name="intentional" id="intentional"> <!--this maps to intentional(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Is there an installation of a device that could be used for monitoring?<select name="installOrUse" id="installOrUse"> <!--this maps to installOrUse(message,)-->
                <option value="electronic">Yes, an electronic device</option>
                <option value="mechanical">Yes, a mechanical device</option>
                <option value="otherSurv">Yes, an other surveillance device</option>
                <option value="none">No</option>
            </select>
            <br/><br/>
            Is the purpose of this device to monitor to acquire information?<select name="monitor" id="monitor"> <!--this maps to monitor(message,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            Is this device in the USA?<select name="locationDevice" id="locationDevice"> <!--this maps to location(device,)-->
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="result" class="style center">
        {% if data == True %}
            <p id="correct">
                Surveillance Scenario DOES fall under FISA's definition of "Electronic Surveillance"
            </p>
        {% elif data == False %}
            <p id="wrong">
                Surveillance Scenario DOES NOT fall under FISA's definition of "Electronic Surveillance"
            </p>
        {% else %}
            <p id="waiting">
                Input your selection using the form above.
            </p>
        {% endif %}
    </div>
</body>
</html>
